<div class="col">
    <a href=<%= item_details.url %> class="text-decoration-none text-reset">
<div class="card h-100" style="width: 18rem;">
    <img src=<%= item_details.img %> class="card-img-top" alt=<%= item_details.name %>>
    <div class="card-body">
      <h5 class="card-title"><%= item_details.manufacturer.name + " " + item_details.name %></h5>
      <p class="card-text"><%= item_details.description %></p>
      <p class="card-text">$<%= item_details.price %></p>
      <p class="card-text">Quantity: <%= item_details.number_in_stock %></p>
      <p class="card-text">Categories: 
      <% item_details.category.forEach((category) => { %>
      <a href="#" class="btn btn-primary"><%= category.name %></a>
      <% }) %> </p>
      <p class="card-text">Manufacturer: <a href="#" class="btn btn-primary"><%= item_details.manufacturer.name %></a></p>
      <p class="card-text">Made In: <a href="#" class="btn btn-primary"><%= item_details.made_in.name %></a></p>
    </div>
  </div>
    </a>
  </div>
