<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
    <div class="container">
        <form method="POST" action="">
            <div class="mb-3 mx-auto">
                <label for="name" class="form-label">Item</label>
                <input type="text" class="form-control" name="name" required="true" value=<%= item.name %>>
            </div>
            <div class="mb-3 mx-auto">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="4" name="description" required="true"><%= item.description %></textarea>
            </div>
            <div class="mb-3 mx-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="manufacturer" class="form-label">Manufacturer</label>
                    <select type="select" class="form-select" name="manufacturer" aria-label="Select manufacturer">
                        <% manufacturers.forEach((manufacturer) => { %>
                            <% if (typeof item != "undefined") { %>
                                <% var selected = (manufacturer._id.toString() === item.manufacturer._id.toString() || manufacturer._id.toString() === item.manufacturer) ? "selected" : "" %>
                                <option value="<%= manufacturer._id %>" <%= selected %>><%= manufacturer.name %></option>
                                <% } else { %>
                                <option value="<%= manufacturer._id %>"><%= manufacturer.name %></option> 
                            <% } %>
                        <% }) %>
                    </select>
                </div>
                <div class="col-auto">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="item_price" id="item_price" required="true" value=<%= item.price %>>
                </div>
                <div class="col-auto">
                <label for="number_in_stock" class="form-label">Number in stock</label>
                <input type="number" class="form-control" name="number_in_stock" id="number_in_stock" required="true" value=<%= item.number_in_stock %>>
                </div>
                <div class="col-auto">
                    <label for="made_in" class="form-label">Made In</label>
                    <select class="form-select" aria-label="Select country">
                        <option selected><%= item.made_in.name %></option>
                        <% made_ins.forEach((made_in) => { %>
                            <% if (made_in.name !== item.made_in.name) { %>
                        <option value=<%= made_in.name %>><%= made_in.name %></option>
                            <% } %>
                        <% }) %>
                    </select>
                </div>
            </div>
            </div>
            <div class="mb-3 mx-auto">
                <label class="form-label" for="category">Category</label><br>
                    <% categories.forEach((category) => { %>
                    <input type="checkbox" class="btn-check" id=<%= category._id %> name="category" value=<%= category._id %> checked=<%= category.checked %> autocomplete="off">
                    <label class="btn btn-outline-secondary" for=<%= category._id %>><%= category.name %></label>
                    <% }) %>
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        <% if (typeof errors != "undefined") { %>
            <ul>
                <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>

  </body>