<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
    <div class="container">
        <form method="POST" action="">
            <div class="mb-3 mx-auto">
                <label for="name" class="form-label">Item</label>
                <input type="text" class="form-control" name="name" required="true" value="">
            </div>
            <div class="mb-3 mx-auto">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="4" name="description" required="true"></textarea>
            </div>
            <div class="mb-3 mx-auto">
            <div class="row">
                <div class="col-auto">
                    <label for="manufacturer" class="form-label">Manufacturer</label>
                    <select class="form-select" name="manufacturer" aria-label="Select manufacturer" required="true">
                        <% manufacturers.forEach((manufacturer) => { %>
                        <option value="<%= manufacturer._id %>"><%= manufacturer.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="col-auto">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" required="true" value="">
                </div>
                <div class="col-auto">
                <label for="number_in_stock" class="form-label">Number in stock</label>
                <input type="number" class="form-control" name="number_in_stock" required="true" value="">
                </div>
                <div class="col-auto">
                    <label for="made_in" class="form-label">Made In</label>
                    <select class="form-select" name="made_in" aria-label="Select country" required="true">
                        <% made_ins.forEach((made_in) => { %>
                        <option value="<%= made_in._id %>"><%= made_in.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            </div>
            <div class="mb-3 mx-auto">
                <label class="form-label">Category</label><br>
                    <% categories.forEach((category) => { %>
                    <input type="checkbox" name="category" class="btn-check" autocomplete="off" value="<%= category._id %>" id=<%= category._id %>>
                    <label class="btn btn-outline-secondary" for=<%= category._id %>><%= category.name %></label>
                    <% }) %>
            </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>

  </body>