<!DOCTYPE html>
<html>
  <%- include('partials/head'); -%>
  <body>
    <%- include('partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"> 
        <a href="#" class="btn btn-secondary">Update manufacturer info</a>
        <a href="#" class="btn btn-secondary">Update manufacturer image</a>
        <a href="#" class="btn btn-secondary">Delete manufacturer</a></h1>
    </div>
    <div class="container-sm">
        <div class="card my-4 mx-auto">
            <img src=<%= manufacturer_details.img %> style="max-height:20rem;object-fit:scale-down;" class="card-img-top" alt=<%= manufacturer_details.name %>>
            <div class="card-body">
                  <h5 class="card-title"><%= manufacturer_details.name %></h5>
                  <p class="card-text"><%= manufacturer_details.description %></p>
                  <p class="card-text"><strong>Established: </strong><%= manufacturer_details.established %></p>
            </div>
        </div>
    </div>
  </body>