<div class="col">
    <a href=<%= manufacturer_details.url %> class="text-decoration-none text-reset">
    <div class="card h-100 mb-3 mx-auto shadow" style="width: 18rem;">
        <img src=<%= manufacturer_details.image_url %> style="max-width:80%;max-height:3rem;object-fit:scale-down" class="card-img-top d-block mx-auto mt-2" alt=<%- manufacturer_details.name %>>
        <div class="card-body">
            <h5 class="card-title"><%- manufacturer_details.name  %></h5>
            <p class="card-text text-truncate"><%- manufacturer_details.description %></p>
            <p class="card-text"><strong>Established: </strong><%- manufacturer_details.established %></p>
        </div>
    </div>
    </a>
</div>