<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
    <div class="container">
        <form method="POST" action="">
            <div class="mb-3 mx-auto">
                <label for="name" class="form-label">Manufacturer</label>
                <input type="text" class="form-control" name="name" required="true" value="<%- manufacturer.name %>">
            </div>
            <div class="mb-3 mx-auto">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" rows="4" name="description" required="true"><%- manufacturer.description %></textarea>
            </div>
            <div class="mb-3 mx-auto">
                <div class="row">
                    <div class="col-auto">
                    <label for="established" class="form-label">Established</label>
                    <input type="number" class="form-control" name="established" required="true" value=<%- manufacturer.established %>>
                    </div>
                </div>
                </div>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
    <% if (typeof errors != "undefined") { %>
        <div class="container">
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>        
        </div>
    <% } %>
  </body>