<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
    </div>
    <div class="container">
        <% if (made_ins_items.length) { %>
        <div class="container my-4">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </symbol>
            </svg>
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                    Delete the following items before attempting to delete this country.
                </div>
              </div>
        </div>
        <div class="container">
            <div class="row gap-3 mb-5">
                <% made_ins_items.forEach((item) => { %>
                    <div class="col-5">
                        <a href=<%= item.url %> class="text-decoration-none text-reset">
                        <div class="card h-100">
                            <img src=<%= item.image_url %> style="max-height:10rem;object-fit:scale-down;" class="card-img-top" alt=<%= item.name %>>
                            <div class="card-body">
                                <h5 class="card-title text-center"><%= item.manufacturer.name + " " + item.name %></h5>
                            </div>
                        </div>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
        <% } else { %>
            <div class="container">
                <div class="container my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                          </symbol>
                    </svg>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            Do you really want to delete this country?
                        </div>
                      </div>
                </div>
        <div class="container">
            <form method="POST" action="">
                <input type="hidden" class="form-control" name="made_inid" required="true" value=<%= made_in._id %>>
                <button class="btn btn-secondary" type="submit">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
  </body>