<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"> 
        <a href=<%= made_in.url + "/update" %> class="btn btn-secondary">Update country info</a>
        <a href="#" class="btn btn-secondary">Update country image</a>
        <a href=<%= made_in.url + "/delete" %> class="btn btn-secondary">Delete country </a></h1>
    </div>
    <div class="container-sm">
        <div class="card my-4 mx-auto">
            <img src=<%= made_in.image_url %> style="max-height:6rem;object-fit:scale-down;" class="card-img-top" alt=<%= made_in.name %>>
            <div class="card-body">
                  <h5 class="card-title text-center"><%= made_in.name %></h5>
            </div>
        </div>
    </div>
    <div class="container">
        <h5>Items made in <%= made_in.name %></h5>
        <div class="row gap-3 mb-5">
            <% if (made_in_items.length < 1) { %>
                <p>No items.</p>
            <% } %>
            <% made_in_items.forEach((item) => { %>
                <div class="col-5">
                <a href=<%= item.url %> class="text-decoration-none text-reset">
                <div class="card h-100">
                    <img src=<%= item.image_url %> style="max-height:10rem;object-fit:scale-down;" class="card-img-top" alt=<%= item.name %>>
                    <div class="card-body">
                        <h5 class="card-title text-center"><%= item.manufacturer.name + " " + item.name %></h5>
                    </div>
                </div>
                </a>
                </div>
                  <% }) %>
        </div>
    </div>
  </body>